.auth {
  padding: 1rem;
}

.auth h1 {
  text-align: center;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  color: #38015c;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
  width: 100%;
  text-align: left;
  padding: 0.25rem;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #77002e;
  color: white;
  padding: 0.5rem 1.5rem;
  border: 1px solid #77002e;
  border-radius: 0.3rem;
  font-weight: bold;
}

.actions button:hover,
.actions button:active {
  background-color: #a50e48;
  border-color: #a50e48;
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #77002e;
  border: none;
  padding: 0.15rem 0;
}

.actions .toggle:hover {
  background-color: transparent;
  color: #a50e48;
}
